@import "variables";
@import "mixins";

.container {
  @include container;
}

.panel {
  @include panel;
}

input {
  @include input;
}

#addTodoPanel {
  @include addTodoPanel;
}

#plusButton {
  @include plusButton;
}

.todosContainer {
  @include todosContainer;
}

.card {
  @include card;
}

.green {
  text-decoration: line-through;
  opacity: 0.5;
  color: $done-color;
}
